<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dev</key>
	<dict>
		<key>GMSServices</key>
		<dict>
			<key>key</key>
			<string>AIzaSyDCINNJKBWxkJG9HCmvo9lsswpfv9DCYYw</string>
		</dict>
		<key>AppCenter</key>
		<dict>
			<key>key</key>
			<string>b3e58e92-f45d-4252-805e-b26d97eba87f</string>
		</dict>
		<key>Styles</key>
		<dict>
			<key>tabBarTintColor</key>
			<string>#299CDB</string>
		</dict>
	</dict>
	<key>prod</key>
	<dict>
		<key>GMSServices</key>
		<dict>
			<key>key</key>
			<string>AIzaSyDCINNJKBWxkJG9HCmvo9lsswpfv9DCYYw</string>
		</dict>
		<key>AppCenter</key>
		<dict>
			<key>key</key>
			<string>b3e58e92-f45d-4252-805e-b26d97eba87f</string>
		</dict>
		<key>Styles</key>
		<dict>
			<key>tabBarTintColor</key>
			<string>#299CDB</string>
		</dict>
	</dict>
</dict>
</plist>
